/*
 * Copyright © 2000-2017 Kohler Company. All Rights Reserved.
 */

.c-koh-tabbed-article {
	padding: 20px;
	text-align: center;
	background: $koh-color-white;
	@media #{$koh-media-screen-md} {
		padding: 0;
	}
	.koh-article-breadcrumbs {
		@include koh-page-gutters-padding();
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: linear-gradient(to left, #ffffff 0%, #f3f3f3 90%);
		ul {
			@include koh-unlist();
			overflow: auto;
			padding: 0 10px;
			li {
				display: block;
				float: left;
				padding: 24px 0;
				font-size: 12px;
				line-height: 1;
				&:after {
					display: inline-block;
					padding: 0 10px;
					content: "\e612";
					font-family: KohlerIcons;
					font-size: 8px;
					color: $koh-color-pmd-grey;
				}
				&:last-child:after {
					content: none;
				}
				a {
					color: $koh-color-pmd-grey;
				}
			}
		}
	}
	.koh-article-header {
		border-bottom: 1px solid $koh-color-slt-grey;
		// margin-bottom: 30px;
		@media #{$koh-media-screen-md} {
			@include koh-page-gutters();
			padding-top:1px;
		}
		.koh-article-title {
			display: block;
			padding: 0 0 10px 0;
			font-size: 26px;
			font-family: $koh-font-sans-serif-light;
			@media #{$koh-media-screen-md} {
				padding: 40px 0 0 0;
				font-size: 32px;
			}
		}
		.koh-article-summary {
			display: block;
			padding: 0 0 20px 0;
			font-size: 14px;
			font-family: $koh-font-sans-serif;
			@media #{$koh-media-screen-md} {
				padding: 10px 0 0 0;
				font-size: 16px;
			}
		}
		.koh-article-controls {
			position: relative;
			margin-bottom: 30px;
			@media #{$koh-media-screen-md} {
				margin-top: 30px;
				height: 46px;
				overflow: hidden;
			}
			.koh-article-select {
				@include koh-select-menu-button();
				width: 100%;
				max-width: 980px;
				padding: 13px 15px;
				@media #{$koh-media-screen-md} {
					display: none;
				}
			}
			.koh-article-set {
				@include koh-select-menu-list();
				top: 41px;
				z-index: 1;
				width: 100%;
				@include koh-unlist();
				border: 1px solid $koh-color-smd-grey;
				border-radius: 0;
				background: solid $koh-color-white;
				box-shadow: 5px 5px 5px -5px $koh-color-plt-grey;
				@media #{$koh-media-screen-md} {
					@include koh-page-gutters();
					display: block;
					list-style: none;
					margin: 0 auto;
					padding: 0;
					text-align: center;
					box-shadow: none;
					border: none;
				}
				li {
					min-height: 42px;
					font-size: 14px;
					line-height: 45px;
					border-bottom: 1px solid $koh-color-smd-grey;
					background-color: #fff;
					a {
						display: block;
						padding: 5px 5px 5px 15px;
					}
					@media #{$koh-media-screen-md} {
						display: inline-block;
						border: none;
						a {
							display: inline-block;
							@include koh-button( $padding: 12px 20px );
							@include koh-font-bold( $font-size: 11px );
							margin-right: 15px;
							box-shadow: none;
							cursor: pointer;
							background: none;
							&:hover {
								background: $koh-color-slt-grey;
							}
							&.active {
								color: $koh-color-white;
								background: $koh-color-pdk-grey;
								&:hover {
									background: $koh-color-pmd-grey;
								}
							}
						}
					}
				}
			}
			&.contained {
				overflow: visible;
				@media #{$koh-media-screen-md} {
					width: 320px;
					margin: 30px auto;
					.koh-article-select {
						display: block;
						max-width: 320px;
						margin: 0 auto;
					}
					.koh-article-set {
						display: none;
						max-width: 320px;
						margin: 0 auto;
						border: 1px solid #dbdbdb;
						&.open {
							display: block;
						}
						li {
							display: list-item;
							text-align: left;
							border-bottom: 1px solid #dbdbdb;
							a {
								display: block;
								margin: 0;
								padding: 5px 5px 3px 15px;
								font-family: $koh-font-sans-serif-med;
								line-height: 45px;
								color: #337ab7;
								text-align: left;
								background: none;
							}
						}
					}
				}
			}
		}
	}

	.koh-article-content {
		@include koh-page-gutters();
	}
}
