/*
 * Copyright © 2000-2017 Kohler Company. All Rights Reserved.
 */

 .c-koh-contact-us {
    background: $koh-color-white none repeat scroll 0 0;
    color: $koh-color-pdk-grey;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 100%;
    .koh-contact-us-container {
        padding: 0 20px;
        @media #{$koh-media-nav-breakpoint} {
           padding: 0 10px;
        }
        .koh-contact-us-header {
            margin: 0 0 30px;
			border-bottom: 1px solid $koh-color-pmd-grey;
			@media #{$koh-media-screen-md} {
				margin: 0 0 37px 0;
			}
            .koh-contact-us-title {
                display: block;
                padding: 20px 0;
                font-size: 43px;
                font-family: HelveticaLight, Helvetica, sans-serif;
                text-align: center;
                @media #{$koh-media-screen-md} {
                    padding: 40px 0;
                    font-size: 60px;
                }
            }
        }
        .koh-contact-us-address {
            margin: 0 0 40px;
            .koh-contact-us-sub-title {
                margin: 30px 0 0;
            }
            .koh-contact-us-address-list {
                list-style: outside none none;
                margin: 0;
                .koh-contact-us-address-items {
                    border-top: 1px solid #ccc;
                    margin-top: 30px;
                    padding-top: 30px;
                    min-height: 275px;
                    @media #{$koh-media-screen-sm-max} {
                        min-height: 300px;
                        &:nth-child(odd) {
                            clear: left;
                        }
                    }
                    @media #{$koh-media-screen-xs-max} {
                        min-height: inherit;
                    }
                    div {
                        padding: 0 30px 10px 0;
                        &.koh-company-address {
                            font-family: HelveticaBold, Helvetica, sans-serif;
                        }
                        &.koh-company-phone,
                        .koh-company-fax {
                            padding: 0 30px 0 0;
                        }
                        &.koh-company-more {
                            padding: 0 30px 0 0;
                            a {
                                background: #337ab7 none repeat scroll 0 0;
                                border-radius: 3px;
                                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
                                color: $koh-color-white;
                                display: inline-block;
                                font-size: 0.8em;
                                padding: 5px 10px;
                                text-align: center;
                                text-decoration: none;
                                text-transform: uppercase;
                                &:hover {
                                    background: #000 none repeat scroll 0 0;
                                    color: #ccc;
                                }
                            }
                        }
                    }
                }
            }
        }
        .koh-address-sidebar-inner {
            padding-left: 50px;
            .c-koh-simple-content.v-koh-full-page {
                padding: 0;
            }
            h3 {
                margin: 0 0 10px;
            }
            hr {
                border-color: #ccc;
            }
            @media #{$koh-media-screen-xs-max} {
                h3 {
                    font-size: 20px;
                }
            }
            a {
                &.koh-enquire-with-us-btn {
                    padding: 0 20px;
                    border-radius: 4px;
                    font-size: 1.6rem;
                    background-color: #364573;
                    color: #FFF;
                    line-height: 41px;
                    display: block;
                    text-align: center;
                    margin: 60px 0 20px;
                }
            }
        }
        @media #{$koh-media-screen-xs-max} {
            .koh-contact-us-title {
                font-size: 1.8em;
            }
            .koh-contact-us-address {
                .koh-contact-us-sub-title {
                    font-size: 20px;
                }
            }
            .koh-address-sidebar-inner {
                border-top: 1px solid #ccc;
                padding: 30px 0 0;
            }
        }
    }
}

@media #{$koh-media-nav-breakpoint} {
    .c-koh-contact-us {
        padding-left: calc((100% - 980px) / 2);
        padding-right: calc((100% - 980px) / 2);
        width: 100%;
    }
}
