/*
 * Copyright © 2000-2017 Kohler Company. All Rights Reserved.
 */

/* koh-master.scss

   Master SCSS file for Kohler website.
*/

// Variables, Libraries, and Mixins
@import "koh-variables";
@import "koh-utils";
@import "koh-rich-text";
@import "bootstrap-imports";
// Load in some site defaults
@import "koh-defaults";
@import "koh-modals";
@import "koh-tooltips";
// Basic site framework styles
body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: $koh-font-sans-serif;
    font-size: 10px;
    background: $koh-color-slt-grey;
    color: $koh-color-pdk-grey;
    pointer-events: none;
    header {}
    .koh-page {}
    a {
        text-decoration: none;
        outline: none;
        &:visited,
        &:hover,
        &:active {
            text-decoration: none;
            outline: none;
        }
    }
    b,
    strong,
    label {
        font-family: HelveticaBold, Helvetica, sans-serif;
        font-weight: inherit;
    }
    sup {
        font-family: HelveticaBold, Helvetica, sans-serif;
        font-weight: inherit;
    }
    @media (min-width: 0px) {
        .display-none-sm {
            display: none !important;
        }
    }
}

// Global Header Pieces
@import "koh-global-navigation";
@import "c-koh-branding-bar";
@import "c-koh-navigation-bar";
// Global Footer Pieces
@import "c-koh-footer-nav";
@import "c-koh-footer-copyright";
// Component-specific Styles
@import "c-koh-banner-carousel";
@import "c-koh-promo-grid";
@import "c-koh-collection-promo";
@import "c-koh-product-details";
@import "c-koh-product-search";
@import "c-koh-product-faceted-search";
@import "c-koh-simple-content";
@import "c-koh-tabbed-faqs";
@import "c-koh-press-list";
@import "c-koh-press-release";
@import "c-koh-compare-products";
@import "c-koh-compare-panel";
@import "c-koh-dealer-list";
@import "c-koh-contact-form";
@import "c-koh-banner-static";
@import "c-koh-tabbed-article";
@import "c-koh-material-color-palette";
@import "c-koh-sitemap-content";
@import "c-koh-where-to-buy";
@import "c-koh-pro-toolbox";
@import "c-koh-contact-us";
@import "c-koh-article-pages";
@import "c-koh-global-projects";
@import "c-koh-static-pages";
@import "c-koh-promo-collections";
@import "c-koh-kec";
@import "c-koh-seo-page";
@import "c-koh-six-designer-page";
@import "c-koh-hk-engagment-showroom";
@import "c-koh-brand-registration-form";
// Print-specific Styles
@import "koh-print";
// Country Specific
@import "koh-bil-fonts";
@import "c-koh-shopping-guide";
@import "c-koh-walking-bath";
@import "c-koh-ramadan-promotion-carousel";
@import "c-koh-warranty-registration-form";
@import "c-koh-warranty-top-banner.scss";
@import "c-koh-repair-renovation-page";
@import "c-koh-contemporary-pdp";
@import "c-koh-shop-by-look-pdp";
@import "c-koh-digital-showroom";